@import 'tailwindcss';

@theme {
	--color-custom-blue: #0f399a;
	--color-primary: #000c26;
	--color-custom-pink: #ffbdc8;
	--color-custom-pink-light: rgba(255, 189, 200, 0.9);
	--color-custom-pink-dark: #ffa6b5;
	--color-custom-gray: #8c959d;
	--color-custom-gray-dark: #5d6670;
}

body {
	font-family: 'Roboto', sans-serif;
}
